---
import { work } from "@cv_english";
import Section from "@/components/Section.astro";
---

<Section title="Experience">
  <ul>
    {
      work.map(({ name, startDate, endDate, position, summary, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <a href={url} target="_blank">
                    <h3>{name}</h3>
                  </a>
                  <h4>{position}</h4>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                <p>{summary}</p>
                <ul>
                  {work.map(({ responsabilities }) => (
                    <li>{responsabilities[0]}</li>
                    <li>{responsabilities[1]}</li>
                    <li>{responsabilities[2]}</li>
                  ))}
                </ul>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  article a:hover {
    text-decoration: underline;
  }
  
  article h3 {
    font-weight: 500;
    color: #111;
    margin-bottom: 4px;
  }

  article h4 {
    font-weight: 400;
    color: #111;
    margin-bottom: 4px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  footer p {
    margin-bottom: 4px;
  }

  footer ul {
    list-style: square inside;
    gap: 1rem;
  }

  footer li {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
