---
import Section from "@/components/Section.astro";

import { projects } from "@cv_english";

import GitHub from "@/icons/GitHub.astro";
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ url, description, githubUrl, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <h3>
                  <a
                    href={url}
                    title={`Ver el proyecto ${name}`}
                    target="_blank"
                  >
                    {name}
                  </a>
                  {isActive && <span>&bull;</span>}
                </h3>
                <p>{description}</p>
              </header>
              <footer>
                <a href={githubUrl} target="_blank" class="no-print">
                  <GitHub />
                  <p id="github">GitHub</p>
                </a>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
  }
  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }
  article header {
    flex: 1;
  }
  article h3 {
    margin-bottom: 4px;
  }
  article a {
    color: #111;
  }
  article a:hover {
    text-decoration: underline;
  }
  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  article h3 span {
    color: rgb(0, 188, 47);
  }
  footer {
    display: inline-flex;
  }
  footer a {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    gap: 1px;
    padding: 0.2rem 0.6rem;
  }
  footer a p {
    color: black;
    font-size: 0.8rem;
    font-weight: 540;
    padding: 0.2rem 0.4rem;
  }
</style>
